.interest {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 3rem !important;
  margin-right: 3rem;
  min-width: 76rem;
}

.interest h2 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.interest p {
  font-size: 1.15rem;
  font-weight: 400;
  color: #868e96;
}
