.education {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 3rem !important;
  margin-right: 3rem;
  min-width: 76rem;
}

.education h2 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.resume-content h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.resume-item {
  display: flex;
}

.resume-item img {
  width: 12rem;
}

.resume-content {
  min-width: 20rem;
  text-transform: uppercase;
}

.major {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #868e96;
}

.resume-date {
  min-width: 30rem;
  text-align: right;
  font-size: 17px;
}
